<div class="signup-container">
	<h2>Sign-up as a Donation camp Organizer<br>in DonorConnect online platform.</h2>
  
	<form [formGroup]="organizerForm" (ngSubmit)="onSubmit()">
	  <mat-form-field appearance="outline">
		<mat-label>Full Name</mat-label>
		<input matInput formControlName="fullName" />
	  </mat-form-field>
  
	  <mat-form-field appearance="outline">
		<mat-label>Contact Number</mat-label>
		<input matInput formControlName="contactNumber" />
	  </mat-form-field>
  
	  <mat-form-field appearance="outline">
		<mat-label>Email Address</mat-label>
		<input matInput formControlName="email" />
	  </mat-form-field>
  
	  <mat-form-field appearance="outline">
		<mat-label>District</mat-label>
		<input matInput formControlName="district" />
	  </mat-form-field>
  
	  <mat-form-field appearance="outline">
		<mat-label>City</mat-label>
		<input matInput formControlName="city" />
	  </mat-form-field>
  
	  <mat-form-field appearance="outline">
		<mat-label>Password</mat-label>
		<input matInput type="password" formControlName="password" />
	  </mat-form-field>
  
	  <button mat-raised-button color="warn" type="submit" [disabled]="organizerForm.invalid">
		Sign Up
	  </button>
	</form>
  </div>