<div class="main">
	<div class="login-container">
		<h2>Login</h2>

		<form [formGroup]="loginForm">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput formControlName="username" type="email" />
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput type="password" formControlName="password" />
			</mat-form-field>

			<button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>

			<div class="signup-links">
				<button mat-stroked-button color="accent" (click)="onSignUp('donor')">Donor Sign-up</button>
				<button mat-stroked-button color="accent" (click)="onSignUp('organizer')">Camp Sign-up</button>
			</div>
		</form>
	</div>
</div>
