/* General layout */
form {
	background-color: #f2f2f2;
	padding: 30px 40px;
	border-radius: 12px;
	width: 100%;
	max-width: 400px;
	margin: auto;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
	width: 100%;
	padding: 12px;
	margin-top: 15px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Submit Button Style */
button:first-of-type {
	background-color: #ff0055;
}

button:first-of-type:hover {
	background-color: #e6004e;
}

/* Back Button Style */
button:last-of-type {
	background-color: #ff4081;
}

button:last-of-type:hover {
	background-color: #e03570;
}

::ng-deep .snack-success {
	background-color: #4caf50;
	color: white;
}

::ng-deep .snack-error {
	background-color: #f44336;
	color: white;
}

.section-div {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
  }
  
  .section-div mat-form-field {
	flex: 1 1 45%; /* 2 fields per row with space */
	min-width: 300px;
  }
  

.button-group {
	display: flex;
	width: 400px;
	justify-content: space-between;
	gap: 20px;
}

.title {
	padding: 20px 30px;
	margin: 0;
	border-bottom: 1px solid lightgrey;
}
