<div class="published-camp-container">
	<h2>Published Camp Details</h2>

	<div class="camps-grid">
		<div *ngFor="let camp of camps; let i = index" class="camp-card">
			<h3>Camp Details</h3>
			<p>
				<strong>Location:</strong>
				{{ camp.location }}
			</p>
			<p>
				<strong>Date:</strong>
				{{ camp.date }}
			</p>
			<p>
				<strong>District:</strong>
				{{ camp.district }}
			</p>
			<p>
				<strong>City:</strong>
				{{ camp.city }}
			</p>
			<p>
				<strong>Slots:</strong>
				{{ camp.slots }}
			</p>
			<p>
				<strong>Blood Groups:</strong>
				{{ camp.bloodGroups?.join(', ') }}
			</p>
			<button (click)="deleteCamp(i)">Delete</button>
		</div>
	</div>

</div>


